Source: workspaces-default-settings
Section: x11
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/herculean-inc/workspaces-default-settings

Package: workspaces-default-settings
Architecture: all
Depends: ${misc:Depends},
         base-files (>= 10),
         libglib2.0-bin,
         gnome-menus,
         gnupg,
         plymouth-theme-pop-basic,
         workspaces-session,
         workspaces-theme,
         workspaces-wallpapers,
         software-properties-common,
Description: default settings for the Workspaces desktop
 This package contains the default settings used by Workspaces.
