[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Workspaces App Folders
Comment=Create Workspaces application folders
Exec=workspaces-app-folders
Terminal=false
Icon=folder
NoDisplay=true
StartupNotify=false
Categories=System;Settings;
